@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Barlow Semi Condensed", sans-serif;
}

:root {
  /*Background gradient*/
  --blue: hsl(214, 47%, 23%);
  --darkBlue: hsl(237, 49%, 15%);

  /*Tokens gradients*/
  --scissorsStart: hsl(39, 89%, 49%);
  --scissorsEnd: hsl(40, 84%, 53%);
  --paperStart: hsl(230, 89%, 62%);
  --paperEnd: hsl(230, 89%, 65%);
  --rockStart: hsl(349, 71%, 52%);
  --rockEnd: hsl(349, 70%, 56%);

  /*Neutral*/
  --darkText: hsl(229, 25%, 31%);
  --scoreText: hsl(229, 64%, 46%);
  --headerOutline: hsl(217, 16%, 45%);
}
